---
import Image from '../components/Image.astro';
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Hero />
		<Image name="movie"/>
		<Image name="tv"/>
		<Image name="book"/>
		<Image name="watch"/>
	</main>
</Layout>
