---

---
<div class="hero bg-base-200 py-20">
  <div class="hero-content flex-col lg:flex-row">
    <img src="http://localhost:8080/image?w=200&h=280" class="max-w-sm rounded-lg shadow-2xl" />
    <div>
      <h1 class="text-5xl font-bold">Box Office News!</h1>
      <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
      <pre class="bg-gray-800 text-white rounded p-4"><code class="pr-4 text-sm">http://localhost:8080/image?w=<span class="text-primary">150</span>&amp;h=<span class="text-primary">220</span></code></pre>
    </div>
  </div>
</div>